

@font-face {
  font-family: "Trebuchet MS";
  src: url(fonts/Trebuchet-MS.ttf);
}

@font-face {
  font-family: "San Francisco";
  src: url(fonts/SF-Font.dmg);
}
@font-face {
  font-family: "Now";
  src: url(fonts/Now-Regular.otf);
}

@font-face {
  font-family: "Now Bold";
  src: url(fonts/NowBold.otf);
}

@font-face {
  font-family: "AvenirNext LT Pro-Regular";
  src: url(fonts/AvenirNextLTPro-Regular.otf);
}
