@media only screen and (max-width: 600px) {
  #seccion-desarrolloServicios, #seccion-socialMedia, .tel-retuit {
    display: none;
  }
  .logoRetuit-tel--responsive {
    width: 10%;
    margin-left: 40%;
  }
  .logoRetuit-responsive {
    width: 50%;
    margin-left: 5%;
    margin-bottom: 2%;
  }
  .logoRetuit-desarrollo, .logoRetuit-socialMedia {
    display: none;

  }

  .texto-desarrollo--responsive, li {
    font-size: 12px;
    padding-left: 3%;
  }
  .titulo-responsive {
    font-size: 25px;
  }
  .container-desarrolloServicios--Responsive, .container-socialMedia--responsive {
    font-size: 14px;
  }
}

@media only screen and (min-width: 600px) {
  .desarrollo-responsive, .tel-retuit--responsive, .logoRetuit-responsive, .container-desarrolloServicios--Responsive, .container-socialMedia--responsive {
    display: none;
  }
}


body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-image: url('../images/fondo_socialmedia.png');
  /*background-position: center center;*/
  background-size: cover;
  /*overflow: hidden;*/
}


/*Colores Fuentes*/
.color-dorado {
  color: #CE8E14;
}
.color-negro {
  color: rgb(63, 62, 57);
}


/*Header con logo y Tel*/
.logoRetuit-tel {
  width: 18%;
  margin-top: 8%;
}
.logoRetuit-socialMedia {
  width: 62%;
  margin-top: 3%;
  margin-left: 3%;
  margin-bottom: 5%;
}
.tel-retuit {
  margin-left: 50%;
  margin-top: 15%;
}

/* Primera columna*/
.container-socialMedia {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 14px;
}

.font-titulo {
  font-family: "Trebuchet MS";
}
.font-texto{
  font-family: "AvenirNext LT Pro Regular";
}


/* Formulario*/
.card-formulario {
  font-size: 13px;
  width: 80%;
  margin-left: 10%;
  background-color: rgba(62, 61, 57, 0.44) !important;
}

#input-formulario {
  width: 100%;
  height: 10% !important;
  padding: 0px !important;
}

.btn-enviar {
  margin-left: 35%;
  margin-top: 3%;
  text-align: center;
  width: 30%;
  height: 50%;
  background-color: #CE8E14;
  color: #FFFFFF !important;
  font-style: "Trebuchet MS";
}

footer{
  font-size: 10px;
  color: rgb(200, 200, 200);
  background-color: rgb(63, 62, 57);
  padding-bottom: 0%;
  margin-top: 2%;
}

/*gracias*/
.container-gracias{
  margin-top: 20%;
  margin-bottom: 15%;
}

.azul{
  color: #9fddee;
  font-size: 70px;
}

.negro{
  color: #423e3c;
  font-size: 40px;
}
